body {
  background-color: rgba(16, 17, 19, 0.9);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main__homepage {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.navbar__head {
  background: rgba(21, 22, 22, 0.9);
  border-radius: 15px;
  width: 70px;
  margin-left: 100px;
}

.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 250px 0;
  gap: 40px;
}

.svg__image {
  width: 60px;
  height: 60px;
  padding: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(161, 167, 161);
}

.svg__image-active {
  border-radius: 10px;
  color: aliceblue;
}

.navbar__icons svg {
  width: 30px;
  height: 30px;
  padding: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(113, 114, 113);
}

.navbar__icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__icons ul li {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(161, 167, 161);
}

.navbar__icons svg:hover {
  background-color: rgb(8, 8, 8);
  border-radius: 10px;
  color: aliceblue;
}

.navbar__icons-svg-active {
  background-color: rgb(8, 8, 8);
  border-radius: 10px;
  color: aliceblue;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.main__head {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.main__head h1 {
  color: rgb(161, 167, 161);
  height: 50px;
  margin-top: 40px;
  margin-left: -80px;
}

h3,
h5,
p {
  color: rgb(161, 167, 161);
  height: 50px;
}

.main__head__icons {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  margin: 0 100px;
  margin-top: -10px;
  color: rgb(161, 167, 161);
  cursor: pointer;
}

.main__head__icons svg:hover {
  border-radius: 10px;
  color: rgb(235, 255, 255);
}
