body {
  background-color: rgba(16, 17, 19, 0.9);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main__homepage {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.navbar__head {
  background: rgba(21, 22, 22, 0.9);
  border-radius: 15px;
  width: 70px;
  margin-left: 100px;
}

.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 250px 0;
  gap: 40px;
}

.svg__image {
  width: 60px;
  height: 60px;
  padding: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(161, 167, 161);
}

.svg__image-active {
  border-radius: 10px;
  color: aliceblue;
}

.navbar__icons svg {
  width: 30px;
  height: 30px;
  padding: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(113, 114, 113);
}

.navbar__icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__icons ul li {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(161, 167, 161);
}

.navbar__icons svg:hover {
  background-color: rgb(8, 8, 8);
  border-radius: 10px;
  color: aliceblue;
}

.navbar__icons-svg-active {
  background-color: rgb(8, 8, 8);
  border-radius: 10px;
  color: aliceblue;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.main__head {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.main__head h1 {
  color: rgb(161, 167, 161);
  height: 50px;
  margin-top: 40px;
  margin-left: -80px;
}

h3,
h5,
p {
  color: rgb(161, 167, 161);
  height: 50px;
}

.main__head__icons {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  margin: 0 100px;
  margin-top: -10px;
  color: rgb(161, 167, 161);
  cursor: pointer;
}

.main__head__icons svg:hover {
  border-radius: 10px;
  color: rgb(235, 255, 255);
}

.add__item_form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.form__upload__image {
  display: flex;
  flex-direction: row;
  gap: 7%;
  height: 90px;
  margin-top: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  padding: 4px;
  display: flex;
  color: rgb(22, 22, 22);
  padding: 20px;
  background-color: rgb(207, 205, 202);
  border-radius: 100%;
}

.camera__icon {
  width: 30px;
  height: 30px;
  display: flex;
  color: rgb(22, 22, 22);
  padding: 13px;
}

.upload__file {
  background-color: rgba(16, 17, 19, 0.9);
  border: 5px;
  width: 7%;
  color: rgb(207, 205, 202);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}

.upload__icon {
  width: 20px;
  height: 20px;
  display: flex;
  color: rgb(243, 226, 226);
}

.form__data {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  margin-left: -17px;
  margin-top: 50px;
}

.form__text {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  gap: 15%;
  width: 60%;
}

input {
  border: none;
  padding: 15px;
  background-color: rgba(42, 43, 46, 0.9);
  border-radius: 5px;
  border-bottom: 1px solid rgb(14, 13, 13);
  color: rgb(161, 167, 161);
  font-size: 1rem;
}

.select__options {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  padding: 10px;
  gap: 10%;
  width: 70%;
}

select {
  border: none;
  padding: 14px;
  width: 93%;
  background-color: rgba(42, 43, 46, 0.9);
  border-radius: 5px;
  border-bottom: 1px solid rgb(14, 13, 13);
  color: rgb(161, 167, 161);
  font-size: 1rem;
}

.other__buttons {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  padding: 10px;
  gap: 10%;
  width: 70%;
}

.radio__buttons {
  margin-top: -8%;
  color: rgb(161, 167, 161);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.checkbox {
  margin-left: -10px;
}

.checkbox__options {
  margin-top: -8%;
  color: rgb(161, 167, 161);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.button {
  margin-top: 30px;
  margin-left: 0.2%;
  width: 15%;
  color: rgb(161, 167, 161);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  padding: 10px;
  width: 100%;
  background-color: rgba(16, 17, 19, 0.9);
  border-radius: 10px;
  color: rgb(161, 167, 161);
  font-size: 1rem;
  cursor: pointer;
}

#modal {
  display: none;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: white;
  font-size: 2rem;
}
