.main__content {
  display: flex;
  flex-direction: column;
}

.main__head {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.main__head h1 {
  color: rgb(161, 167, 161);
  height: 50px;
  margin-top: 40px;
  margin-left: -80px;
}

h3,
h5,
p {
  color: rgb(161, 167, 161);
  height: 50px;
}

.main__head__icons {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  margin: 0 100px;
  margin-top: -10px;
  color: rgb(161, 167, 161);
  cursor: pointer;
}

.main__head__icons svg:hover {
  border-radius: 10px;
  color: rgb(235, 255, 255);
}

.gallery__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 5px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}
