.main__content {
  display: flex;
  flex-direction: column;
}

.main__head {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.main__head h1 {
  color: rgb(161, 167, 161);
  height: 50px;
  margin-top: 40px;
  margin-left: -80px;
}

h3,
h5,
p {
  color: rgb(161, 167, 161);
  height: 50px;
}

.main__head__icons {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  margin: 0 100px;
  margin-top: -10px;
  color: rgb(161, 167, 161);
  cursor: pointer;
}

.main__head__icons svg:hover {
  border-radius: 10px;
  color: rgb(235, 255, 255);
}

.gallery__content {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
  width: 80%;
  height: 700px;
  overflow-y: scroll;
}

.gallery {
  column-gap: 10px;
  columns: 3;
  margin: 0 auto;
  /* width: 20%; */
}

.gallery-item {
  margin-bottom: 0;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
